/*
 Meta-data information
*/

manifest {
	description = 'This pipeline processes raw single-end DNA-seq data in allele-specific manner to generate coverage plots and identify major genomic rearrangements.'
	mainScript = 'allelic_DNA-seq.nf'
	nextflowVersion = '20.04.1'
	version = '0.0.2'
	author = 'Yuvia A. PEREZ RICO'
}

/*
 Initialize parameters
*/

params {
	sampleInfo = '/scratch/user/sampleDescription_DNAseq.txt'
	chunkSize = 5000000
	G1 = 'C57BL-6J'
	G2 = 'CAST-EiJ'
	effectiveSize = 2150570000
	binSize = 15000
	outDir = '/home/user/Documents/project_DNAseq_karyotyping'
	genomeDirPath = '/home/user/Documents/references/mm10/indexes/bowtie2/mm10_C57BL-6J_CAST-EiJ_masked'
	genome2bit = '/home/user/Documents/references/mm10/mm10.2bit'
	snpFile = '/home/user/Documents/references/mm10/SNPsplit/C57BL-6J_CAST-EiJ.txt.gz'
	repeats = '/home/user/Documents/references/mm10/Mouse.RepeatMasker.map_mm10_noSimpleRepeat_noLowComplexity.bed'
	blacklist = '/home/user/Documents/references/mm10/mm10-blacklist.v2.bed'
	tmpOutDir = '${TMPDIR}'
	numCPUs = 10
	numCPUsDT = 20
}

/*
 Set process requirements
*/

process {
	executor = 'slurm'
	scratch = '/scratch/user'
	memory = 20.GB
	time = 20.m
	cpus = 1

	withLabel: filter_bams {
		memory = 30.GB
		time = 90.m
	}

	withLabel: tracks {
		cpus = "${params.numCPUs}"
		memory = 30.GB
		time = 50.m
	}

	withName: get_program_versions {
		memory = 100.MB
		time = 30.s
	}

	withName: fastq_quality {
		cpus = "${params.numCPUs}"
		memory = 3.GB
		time = 100.m
	}

	withName: split_Reads {
		memory = 1.GB
		time = 100.m
	}

	withName: trim_reads {
		memory = 1.GB
	}

	withName: read_mapping {
		cpus = "${params.numCPUs}"
		memory = 30.GB
		time = 20.m
	}

	withName: chrM_MQ_filter {
		cpus = "${params.numCPUs}"
		memory = 1.GB
		time = 15.m
	}

	withName: SNPsplit {
		memory = 10.GB
		time = 20.m
	}

	withName: filter_unassigned_bams {
		memory = 30.GB
		time = 150.m
	}

	withName: merge_mapped {
		memory = 30.GB
		time = 80.m
	}

	withName: GC_norm {
		cpus = "${params.numCPUsDT}"
		memory = 100.GB
		time = 120.m
	}

	withName: size_factors {
		memory = 500.MB
	}

}


